.boton_fondo_15 {
    margin-left: 1vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    border: none;
    background-color: #15151E;
}

.boton_fondo_15:focus {
    outline: none;
}

.boton_fondo_15_v2 {
    font-size: 2vh;
    margin-left: 35vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    border: none;
    background-color: #15151E;
}

.boton_fondo_15_v2:focus {
    outline: none;
}

.boton_fondo_15_v3 {
    font-size: 2vh;
    height: 3vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #15151E;
}

.boton_fondo_15_v3:focus {
    outline: none;
}

.boton_fondo_15_v4 {
    font-size: 2vh;
    margin-left: 20vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    border: none;
    background-color: #15151E;
}

.boton_fondo_15_v4:focus {
    outline: none;
}

.boton_fondo_c4 {
    font-size: 2vh;
    margin-left: 20vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    border: none;
    background-color: #FF1E00;
    width: 15vh;
}

.boton_fondo_c4:focus {
    outline: none;
}

.boton_fondo_c4_v2 {
    font-size: 2vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    border: none;
    background-color: #FF1E00;
    width: 15vh;
}

.boton_fondo_c4_v2:focus {
    outline: none;
}

.boton_fondo_2c {
    font-size: 2vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    border: none;
    background-color: #2C2C34;
    margin-top: 1vh;
}

.boton_fondo_2c:focus {
    outline: none;
}

.boton_fondo_2c_v2 {
    display: flex;
    align-items: center;
    justify-content: row;
    border: none;
    background-color: #2C2C34;
}

.boton_fondo_2c_v2:focus {
    outline: none;
}

.boton_fondo_2c_v3 {
    font-size: 2vh;
    text-align: left;
    width: 100%;
    border: none;
    background-color: #2C2C34;
}

.boton_fondo_2c_v3:focus {
    outline: none;
}

.boton_fondo_2c_v4 {
    font-size: 2vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    border: none;
    background-color: #2C2C34;
}

.boton_fondo_2c_v4:focus {
    outline: none;
}

.boton_fondo_2c_v5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    border: none;
    background-color: #2C2C34;
}

.boton_fondo_2c_v5:focus {
    outline: none;
}

.boton_fondo_2c_v6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1vw;
    border: none;
    background-color: #2C2C34;
}

.boton_fondo_2c_v6:focus {
    outline: none;
}

.boton_fondo_2c_v7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vh;
    border-radius: 1vh;
    width: 35vh;
    height: 30vh;
    border: none;
    background-color: #2C2C34;
}

.boton_fondo_2c_v7:focus {
    outline: none;
}

.boton_fondo_2c_v8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vh;
    border-radius: 1vh;
    width: 25vh;
    height: 25vh;
    border: none;
    background-color: #2C2C34;
}

.boton_fondo_2c_v8:focus {
    outline: none;
}

.boton_fondo_2c_v9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vh;
    border-radius: 1vh;
    width: 23vh;
    height: 23vh;
    border: none;
    background-color: #2C2C34;
}

.boton_fondo_2c_v9:focus {
    outline: none;
}

.boton_fondo_2c_v10 {
    margin: 1vh;
    border-radius: 2vh;
    padding: 1vh;
    border: none;
    background-color: #2C2C34;
}

.boton_fondo_2c_v10:focus {
    outline: none;
}

.boton_texto_ea {
    border-radius: 1.5vh;
    border-width: 3px;
    margin-right: 10vw;
    border-color: #FF1E00;
    color: #FF1E00;
    background-color: white;
}

.boton_texto_ea:hover {
    background-color: white;
    color: #FF1E00;
    border-color: #FF1E00;
    transform: none; /* Evita cualquier transformación */
    transition: none; /* Elimina cualquier animación */
}

.boton_texto_ea:focus {
    outline: none;
}

.boton_fondo_ea {
    border-radius: 1.5vh;
    border-width: 3px;
    border-color: white;
    color: white;
    background-color: #FF1E00;
}

.boton_fondo_ea:hover {
    background-color: #FF1E00;
    color: white;
    border-color: white;
    transform: none; /* Evita cualquier transformación */
    transition: none; /* Elimina cualquier animación */
}

.boton_fondo_ea:focus {
    outline: none;
}

.boton_seguir {
    font-size: 2vh;
    height: 3vh;
    margin-top: 1vh;
    margin-left: 1vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 15vw;
    background-color: #FF1E00;
}

.boton_seguir:focus {
    outline: none;
}

.boton_dejar_seguir {
    font-size: 2vh;
    height: 3vh;
    margin-top: 1vh;
    margin-left: 1vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 15vw;
    background-color: white;
    color: #FF1E00;
}

.boton_dejar_seguir:focus {
    outline: none;
}

@media (max-width: 1400px) {
    .boton_dejar_seguir {
        font-size: 3vh;
        height: 4vh;
    }

    .boton_seguir {
        font-size: 3vh;
        height: 4vh;
    }

    .boton_fondo_15_v2 {
        font-size: 3vh;
    }

    .boton_fondo_15_v3 {
        font-size: 3vh;
    }

    .boton_fondo_15_v4 {
        font-size: 3vh;
    }

    .boton_fondo_2c {
        padding-top: 3.5vh;
    }

    .boton_fondo_2c_v3 {
        font-size: 3vh;
    }

    .boton_fondo_2c_v7 {
        width: 45vh;
        height: 40vh;
    }

    .boton_fondo_2c_v8 {
        width: 33vh;
        height: 33vh;
    }

    .boton_fondo_2c_v9 {
        width: 30vh;
        height: 30vh;
    }

    .boton_fondo_c4 {
        font-size: 3vh;
        width: 20vh;
        height: 4.5vh;
    }

    .boton_fondo_c4_v2 {
        font-size: 3vh;
        width: 20vh;
        height: 4.5vh;
    }
}