/* Estilos generales */
.perfil-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.perfil-header__nickname {
  text-align: center;
}

.perfil-header__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.perfil-header__image {
  border-radius: 50%;
  background-color: white;
}

.perfil-header__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.perfil-header__name-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.perfil-header__button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #15151E;
  padding: 0.5rem;
}

.perfil-header__stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.perfil-header__stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perfil-header__follow-button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.perfil-header__follow-button--seguir {
  background-color: #C40000;
  color: white;
}

.perfil-header__follow-button--dejar-seguir {
  background-color: white;
  color: #C40000;
}

/* Estilos para pantallas pequeñas (<= 768px) */
@media (max-width: 768px) {
  .perfil-header__nickname {
    font-size: 2rem;
  }

  .perfil-header__image {
    width: 8rem;
    height: 8rem;
  }

  .perfil-header__fullname {
    font-size: 1.5rem;
  }

  .perfil-header__button {
    height: 2rem;
  }

  .perfil-header__button-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .perfil-header__stat p {
    font-size: 1rem;
  }

  .perfil-header__follow-button {
    font-size: 1rem;
    height: 2rem;
    width: 8rem;
  }

  .perfil-header__stats {
    gap: 1rem;
  }

  .perfil-header__info {
    flex-direction: column;
  }
}

/* Estilos para pantallas grandes (> 1440px) */
@media (min-width: 1440px) {
  .perfil-header__nickname {
    font-size: 4rem;
  }

  .perfil-header__image {
    width: 12rem;
    height: 12rem;
  }

  .perfil-header__fullname {
    font-size: 2.5rem;
  }

  .perfil-header__button {
    height: 3rem;
  }

  .perfil-header__button-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .perfil-header__stat p {
    font-size: 1.5rem;
  }

  .perfil-header__follow-button {
    font-size: 1.5rem;
    height: 3rem;
    width: 12rem;
  }

  .perfil-header__stats {
    gap: 2rem;
  }
}