.imagen {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.imagen_v2 {
    width: 90%;
    height: 100%;
    object-fit: contain;
}

.imagen_v3 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imagen_perfil {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: white;
}

.imagen_perfil_v2 {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    background-color: white;
    color: white ;
}

.imagen_perfil_v3 {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background-color: white;
}

.imagen_equipo {
    width: 5vh;
    height: 5vh;
    object-fit: contain;
    padding-right: 1vw;
}

.imagen_equipo_v2 {
    width: 5vh;
    height: 5vh;
    object-fit: contain;
}

.imagen_equipo_v3 {
    width: 8vh;
    height: 5vh;
    object-fit: contain;
}

.imagen_equipo_v4 {
    width: 5vh;
    height: 3vh;
    padding-left: 2vw;
    object-fit: contain;
}

.imagen_equipo_select {
    width: 19vh;
    height: 20vh;
    padding-top: 2vh;
    object-fit: contain;
}

.imagen_livery {
    width: 25vh;
    height: 15vh;
    object-fit: contain;
    padding-left: 1.5vw;
    border-radius: 1vh;
}

.imagen_livery_v2 {
    width: 50vh;
    height: 30vh;
    object-fit: contain;
}

.imagen_livery_v3 {
    width: 25vh;
    height: 28vh;
    border-radius: 1vh;
    object-fit: contain;
}

.imagen_piloto {
    width: 15vh;
    height: 15vh;
    object-fit: contain;
    padding-top: 1vh;
}

.imagen_piloto_v2 {
    width: 30vh;
    height: 30vh;
    object-fit: contain;
}

.imagen_piloto_select {
    width: 100%;
    height: 75%;
    margin-top: 1vh;
    object-fit: contain;
}

.imagen_circuito {
    width: 65vh;
    height: 35vh;
    object-fit: contain;
}

.imagen_circuito_v2 {
    width: 30vh;
    height: 25vh;
    padding-top: 0.5vh;
    object-fit: contain;
}

.imagen_circuito_v3 {
    width: 50vh;
    height: 35vh;
    object-fit: contain;
}

.imagen_circuito_v4 {
    width: 45vh;
    height: 25vh;
    object-fit: contain;
}

.imagen_circuito_select {
    width: 100%;
    height: 100%;
    margin-top: 1vh;
    object-fit: contain;
}

.imagen_bandera {
    width: 6vh;
    height: 4vh;
    object-fit: contain;
}

.imagen_bandera_v2 {
    width: 5vh;
    height: 3vh;
    object-fit: contain;
}

.imagen_bandera_v3 {
    width: 5vh;
    height: 3vh;
    padding-left: 2vw;padding-top: 0.25vh;
    object-fit: contain;
}
  
.icono {
    width: 2vh;
    height: 2vh;
}

.icono_v2 {
    width: 3vh;
    height: 3vh;
}

.icono_v3 {
    width: 3vw;
    height: 3vh;
}

@media (max-width: 1400px) {
    .imagen_perfil {
        width: 5vh;
        height: 5vh;
    }
    
    .imagen_perfil_v2 {
        width: 20vh;
        height: 20vh;
    }

    .icono {
        width: 3vh;
        height: 3vh;
    }

    .icono_v2 {
        width: 4vh;
        height: 4vh;
    }

    .icono_v3 {
        width: 4vh;
        height: 4vh;
    }

    .imagen_bandera {
        width: 8vh;
        height: 6vh;
    }

    .imagen_bandera_v2 {
        width: 7vh;
        height: 5vh;
    }

    .imagen_bandera_v3 {
        width: 7vh;
        height: 5vh;
    }

    .imagen_livery {
        width: 30vh;
        height: 20vh;
    }

    .imagen_livery_v2 {
        width: 90vh;
        height: 50vh;
    }

    .imagen_livery_v3 {
        width: 33vh;
        height: 36vh;
    }

    .imagen_equipo {
        width: 7vh;
        height: 7vh;
    }

    .imagen_equipo_v2 {
        width: 7vh;
        height: 7vh;
    }

    .imagen_equipo_v3 {
        width: 10vh;
        height: 7vh;
    }

    .imagen_equipo_v4 {
        width: 7vh;
        height: 5vh;
    }

    .imagen_equipo_select {
        width: 100%;
        height: 100%;
    }

    .imagen_circuito_select {
        width: 95%;
        height: 100%;
    }

    .imagen_circuito {
        width: 90vh;
        height: 50vh;
    }

    .imagen_circuito_v2 {
        width: 45vh;
        height: 40vh;
    }

    .imagen_circuito_v3 {
        width: 80vh;
        height: 55vh;
    }

    .imagen_circuito_v4 {
        width: 55vh;
        height: 30vh;
    }

    .imagen_piloto_select {
        width: 100%;
        height: 76%;
    }

    .imagen_piloto {
        width: 20vh;
        height: 20vh;
    }

    .imagen_piloto_v2 {
        width: 40vh;
        height: 40vh;
    }
}