html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #B8B8BB;
}

.logo {
    width: 20vw;
    height: 20vh;
    object-fit: contain;
    padding-top: 5vh;
}

.title {
    color: black;
    padding-top: 5vh;
    font-size: 5vh;
}

.form {
    display: flex;
    flex-direction: column;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 30%;
    cursor: pointer;
}

.password-icon {
    width: 20px;
    height: 20px;
    color: black;
}

.principal-button {
    background-color: #FF1E00;
    border-radius: 1.5vh;
    border-width: 3px;
    border-color: White;
    width: 50vw;
}

.principal-button:hover {
    background-color: #FF1E00; /* Mantiene el color original */
    color: white; /* Mantiene el color del texto original */
    border-color: white; /* Mantiene el color del borde original */
    transform: none; /* Evita cualquier transformación */
    transition: none; /* Elimina cualquier animación */
}

.text-change-view {
    color: black;
    font-size: 3vh;
}

.secondary-button {
    color: #FF1E00;
    background-color: white;
    border-radius: 1.5vh;
    border-width: 3px;
    border-color: #FF1E00;
    margin-bottom: 5vh;
}

.secondary-button:hover {
    background-color: white; /* Mantiene el color original */
    color: #FF1E00; /* Mantiene el color del texto original */
    border-color: #FF1E00; /* Mantiene el color del borde original */
    transform: none; /* Evita cualquier transformación */
    transition: none; /* Elimina cualquier animación */
}

@media (max-width: 1400px) {
    .logo {
        width: 25vw;
        height: 25vh;
        padding-top: 5vh;
        object-fit: contain;
    }

    .title {
        font-size: 8vh;
    }

    .continuar-button {
        width: 50vw;
        height: 6vh;
        border-radius: 2.5vh;
    }

    .login-text {
        font-size: 5vh;
    }

    .login-button-registro {
        width: 20vw;
        height: 6vh;
        margin-bottom: 5vh;
        border-radius: 2.5vh;
    }
}