/* Contenedor principal */
.principal_columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal_fila {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.textoDireccion {
    background-color: #C40000;
    border-radius: 0.5vh;
    width: 15vh;
    font-size: 2vh;
    text-align: center;
    cursor: pointer;
}

.botonDireccion {
    font-size: 2vh;
    margin-left: 35vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    border: none;
    background-color: #15151E;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5vh
}

.espacioPiloto {
    width: 15vw;
    height: 25vh;
    border-radius: 25px;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.espacioEquipo {
    width: 40vh;
    height: 20vh;
    margin-left: 15vh;
    border-radius: 25px;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.espacioCircuito {
    width: 50vh;
    height: 35vh;
    margin-left: 15vh;
    border-radius: 25px;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.imagenEquipo {
    width: 90%;
    height: 100%;
    object-fit: contain;
}

.imagenCircuito {
    width: 115%;
    height: 120%;
    object-fit: contain;
}