.imagen {
    width: 100%;
    height: 80%;
    margin-top: 1vh;
    object-fit: contain;
}

.imagenEquipo {
    width: 90%;
    height: 100%;
    object-fit: contain;
}

.imagenCircuito {
    width: 110%;
    height: 100%;
    object-fit: contain;
}