html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header-container {
    color: black;
    padding-top: 7vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.seleccion-form {
    display: flex;
    flex-direction: row;
}

.selector-container {
    width: 25vw;
    height: 25vh;
    border-radius: 1.5vh;
    background: white;
    color: black;
    margin-right: 5vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.selector {
    width: 25vw;
    background: white;
    color: black;
    border: 0;
    padding-top: 0.5vh;
    border-radius: 1.5vh;
}

.piloto-imagen {
    width: 10vw;
    height: 20vh;
    padding-top: 2vh;
    object-fit: contain;
}

.equipo-imagen {
    width: 20vw;
    height: 20vh;
    padding-top: 2vh;
    object-fit: contain;
}

.circuito-imagen {
    width: 20vw;
    height: 20vh;
    padding-top: 2vh;
    object-fit: contain;
}

@media (max-width: 1400px) {
    .registro-next-logo {
        width: 25vw;
        height: 25vh;
        padding-top: 5vh;
        object-fit: contain;
    }

    .selector-container {
        width: 27vw;
        height: 40vh;
    }

    .selector {
        width: 27vw;
    }

    .piloto-imagen {
        width: 27vw;
        height: 34vh;
    }

    .equipo-imagen {
        width: 27vw;
        height: 34vh;
    }

    .circuito-imagen {
        width: 27vw;
        height: 34vh;
    }

    .crear-cuenta-button {
        width: 50vw;
        height: 6vh;
        border-radius: 2.5vh;
        margin-bottom: 5vh;
    }

    .header-container {
        padding-top: 5vh;
    }

    .header-container h1 {
        font-size: 8vh;
    }

    .header-container h2 {
        font-size: 4vh;
    }
}