html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.registro-input {
    width: 50vw;
    height: 3.5vh;
    background-color: white;
    border-radius: 1.5vh;
    border-width: 0;
    color: black;
}

.login-section {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
}

@media (max-width: 1400px) {
    .registro-input {
        height: 6vh;
    }
}